<h1><%= ingredient.name %></h1>

<section class='nutrients'>
  <h3>Nutrients</h3>
  <%= ingredient.nutrients.each do |nutrient| %>
    <article id='nutrient-<%= nutrient.id %>'>
      <ul>
        <li><%= "#{nutrient.name}: #{nutrient.amount}" %></li>
      </ul>
    </article>
  <% end %>
</section>

<section class='portions'>
  <h3>Portions</h3>
  <%= ingredient.portions.each do |portion| %>
    <article id='portion-<%= portion.id %>'>
      <ul>
        <li><%= portion.full_name %></li>
      </ul>
    </article>
  <% end %>
</section>

<section class='aliases'>
  <h3>Aliases</h3>
  <%= ingredient.aliases.each do |alias_obj| %>
    <article id='alias-<%= alias_obj.id %>'>
      <ul>
        <li>Name: <%= alias_obj.name %></li>
      </ul>
    </article>
  <% end %>
</section>